.search__card {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  max-height: 565px;
  cursor: pointer;
}

@media screen and (max-width: 1919px) {
  .search__card {
    max-width: 287px;
    max-height: 516px;
  } 
}

@media screen and (max-width: 1599px) {
  .search__card {
    max-width: 320px;
    max-height: 565px;
  } 
}

@media screen and (max-width: 767px) {
  .search__card {
    max-width: 155px;
    max-height: 320px;
  } 
}