.footer__contacts {
  grid-area: footer-contacts;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 38px;
  margin-left: 109px;
  padding: 0;
  box-sizing: border-box;
  width: 246px;
  height: 95px;
}

@media screen and (max-width: 1919px) {
  .footer__contacts {
    margin-left: 70px;
  }
}

@media screen and (max-width: 1599px) {
  .footer__contacts {
    margin: 33.23px 0 0 9px;
  }
}

@media screen and (max-width: 767px) {
  .footer__contacts {
    margin: 30px 0 0;
    height: 85px;
  }
}