.search__title {
  max-width: 651px;
  max-height: 62px;
  margin: 60px 0 40px 260px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Korataki';
  font-size: 44px;
  line-height: 61.6px;
  font-weight: 400;
}

@media screen and (max-width: 1919px) {
  .search__title {
    max-width: 592px;
    max-height: 56px;
    margin-left: 180px;
    font-size: 40px;
    line-height: 56px;
  } 
}

@media screen and (max-width: 1599px) {
  .search__title {
    max-width: 474px;
    max-height: 45px;
    margin-top: 50px;
    margin-left: 44px;
    font-size: 32px;
    line-height: 44.8px;
  } 
}

@media screen and (max-width: 767px) {
  .search__title {
    max-width: 229px;
    max-height: 68px;
    margin: 40px 0 24px 35px;
    font-size: 24px;
    line-height: 33.6px;
  } 
}