.footer__protect-text {
  grid-area: footer-protect-text;
  margin: 52.9px 0 0;
  padding: 0;
  box-sizing: border-box;
  width: 322px;
  height: 84px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  color: #808080;
}

.footer__protect-span {
  text-decoration-line: underline;
}

@media screen and (max-width: 1919px) {
  .footer__protect-text {
    margin-top: 55.62px;
  }
}

@media screen and (max-width: 1599px) {
  .footer__protect-text {
    margin-top: 40px;
    margin-left: 56px;
    width: 382px;
    height: 63px;
  }
}

@media screen and (max-width: 767px) {
  .footer__protect-text {
    margin: 30px 0 0;
    width: 320px;
    height: 84px;
  }
}