.search__card-image-photo {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 320px;
  max-height: 477px;
  object-fit: cover;
  transition: transform .4s;
}

.search__card-image-block:hover .search__card-image-photo {
  transform: scale(1.1);
}

@media screen and (max-width: 1919px) {
  .search__card-image-photo {
    max-height: 428px;
  } 
}

@media screen and (max-width: 1599px) {
  .search__card-image-photo {
    max-height: 477px;
  } 
}

@media screen and (max-width: 767px) {
  .search__card-image-photo {
    max-height: 230px;
  } 
}